language: node_js
node_js:
- 0.8
- '0.10'
- '0.11'
branches:
  only:
  - master
notifications:
  email:
  - rod@vagg.org
script: npm test
env:
  global:
    secure: "jreO7ejtYMSnUN3N/TTXsciqDdr6To3BtHf8BSbm6yPifVmJ0xDp0+2pprsGkP9vWNeurM1adBj4GReTZ0SRrfcHU0jL/X+l2CfjCnYrwd40SI84/DiTfY/pSKKT7ZA1ndVmwy+WSR15UOBs9zq2xbG9iED3nIaqRaPfGSL8hNk="
